body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.board{
  width:27.4rem;
  height:27.4rem;
  margin: auto;
  border: 49px solid black;
  display:flex;
  flex-wrap: wrap;
}
.symbol{
  font-size:3rem;
}
.square{
  width:9rem;
  height:9rem;
  border: 1px solid black;
}
.square:hover{
  background:lightblue;
  cursor:pointer;
}
